streamlit
requests
python-dotenv
pandas
numpy
matplotlib
scikit-learn
prophet
plotly
openai
PyMuPDF
python-docx
plotly
fpdf2
streamlit-mic-recorder
requests
langchain
langchain-openai
langchain-community
